/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
  background-color: #d9dad7;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
p {
  font-size: 2rem;
  color: #c24d2c;
  text-shadow: 0.1rem 0.1rem #1a2639;
}

h1 {
  color: #d9dad7;
  font-size: 5rem;
  text-shadow: 0.3rem 0.3rem 0.3rem #1a2639;
  margin: 0;
}

h2 {
  color: #1a2639;
  font-size: 4rem;
  text-align: center;
}

h3 {
  font-size: 1.5rem;
  color: #1a2639;
}
header {
  background: #3e4a61;
  padding: 5rem;
  height: 20rem;
}
header p {
  margin: 1rem 2rem;
}
header a {
  color: #1a2639;
  font-size: 2rem;
  text-align: center;
  text-decoration: none;
  padding-top: 1rem;
  margin-top: 2rem;
  width: 10rem;
  height: 3rem;
  background: #d9dad7;
  border-radius: 1rem;
  border: 0.2rem solid #1a2639;
  box-shadow: 0.5rem 0.5rem 0.5rem #1a2639;
}
header a:hover {
  color: #d9dad7;
  background: #c24d2c;
}
.navbar {
  display: flex;
  justify-content: space-around;
}
.headercontainer {
  display: flex;
  flex-direction: column;
  border-bottom: 0.5rem solid #c24d2c;
}

.citiescontainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.citiesrow {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100%;
}
.barcelonabg {
  background: url(https://i.pinimg.com/originals/a8/d1/ae/a8d1ae6bdc3c44abe78a0142fb265455.png)
    no-repeat center;
  width: 50%;
  min-width: 50rem;
  background-size: cover;
  background-position: top;
}
.dublinbg {
  background: url(https://i.pinimg.com/originals/16/d9/db/16d9db6c01130327c06fe1e92d097041.jpg)
    no-repeat center;
  width: 50%;
  min-width: 50rem;
  background-size: cover;
  background-position: top;
}
.tokyobg {
  background: url(https://mir-s3-cdn-cf.behance.net/project_modules/max_1200/49cd5367420321.5b399170bd4bf.jpg)
    no-repeat center;
  width: 50%;
  min-width: 50rem;
  background-size: cover;
  background-position: top;
}
.lisbonbg {
  background: url(https://thumbs.dreamstime.com/z/illustrated-map-lisbon-cute-fun-hand-drawn-characters-local-plants-elements-color-vector-illustration-big-141639238.jpg)
    no-repeat center;
  width: 50%;
  min-width: 50rem;
  background-size: cover;
  background-position: right;
}
.citycontainer {
  background: rgba(217, 218, 215, 0.8); /*this gives opacity to background*/
  background-size: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2%;
}
.citycontainer img {
  width: 10rem;
  height: 10rem;
  margin: 2rem;
  object-fit: cover;
  border-radius: 7.5rem;
}
.citycontainer img:hover {
  transform: scale(4);
  margin: 0;
  border-radius: 0.5rem;
}
