/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
  background-color: #d9dad7;
  font-family: Comic Sans MS, Verdana, Geneva, Tahoma, sans-serif;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

h1 {
  color: #d9dad7;
  font-size: 5rem;
  text-shadow: 0.3rem 0.3rem 0.3rem #1a2639;
}

h2 {
  color: #c24d2c;
  text-shadow: 0.3rem 0.3rem 0.3rem #1a2639;
  font-size: 3rem;
  text-align: center;
  font-weight: bold;
  margin: 5% 0;
}

header {
  background-image: linear-gradient(to right, #3e4a61, #1a2639);
  padding: 3%;
  height: 20%;
}
header p {
  margin: 1% 2%;
  font-size: 3rem;
  color: #c24d2c;
  text-shadow: 0.1rem 0.1rem #1a2639;
}

.navbar a {
  color: #1a2639;
  font-size: 1.5rem;
  text-align: center;
  text-decoration: none;
  padding: 0.5% 1%;
  margin-top: 2%;
  width: 8vw;
  height: 3vh;
  background: #d9dad7;
  border-radius: 5%;
  border: 0.2% solid #1a2639;
  box-shadow: 0.5% 0.5% 0.5% #1a2639;
}
.navbar a:hover {
  color: #d9dad7;
  background: #c24d2c;
}
.navbar {
  display: flex;
  justify-content: space-around;
  width: 100%;
}
.headercontainer {
  display: flex;
  flex-direction: column;
  border-bottom: 0.5rem solid #c24d2c;
}
.citiescontainer {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
.cityrow {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100%;
}

.journalentry {
  color: #c24d2c;
  text-shadow: 0.03rem 0.03rem 0.03rem #1a2639;
  position: relative;
  height: 8vw;
  width: 8vw;
  border-radius: 50%;
  overflow: hidden;
  transition: 1s ease;
  background-size: cover;
  margin: 1vw;
}

.animation {
  height: 8vw;
  width: 8vw;
  opacity: 0;
  background: #d9dad7;
  position: inherit;
  background-size: cover;
  bottom: -150%;
  text-align: center;
}

.journalentry:hover {
  transform: scale(3);
  z-index: 1;
  border-radius: 5%;
}
.journalentry:hover .animation {
  transform: translateY(-100%);
  opacity: 0.7;
  transition: 2s ease;
}
.barcelonabg {
  background: url("../img/barcelona-map.png") no-repeat center;
  width: 50%;
  background-size: cover;
  background-position: top;
}
.dublinbg {
  background: url("../img/Dublin-map.jpg") no-repeat center;
  width: 50%;
  background-size: cover;
  background-position: top;
}
.tokyobg {
  background: url("../img/Tokyo-map.jpg") no-repeat center;
  width: 50%;
  background-size: cover;
  background-position: top;
}
.lisbonbg {
  background: url("../img/Lisbon-map.jpg") no-repeat center;
  width: 50%;
  background-size: cover;
  background-position: right;
}
.citycontainer {
  background: rgba(217, 218, 215, 0.8); /*this gives opacity to background*/
  background-size: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

footer {
  background-image: linear-gradient(to right, #3e4a61, #1a2639);
  height: 20vh;
  display: flex;
  align-items: center;
  justify-content: center;
  border-top: 0.5rem solid #c24d2c;
  /* padding:0 1rem; */
}

@media (max-width: 1024px) {
  header {
    padding: 3rem;
  }
  .citiescontainer {
    flex-direction: column;
  }
  .animation p {
    font-size: 0.1rem;
  }
  .journalentry:hover {
    transform: scale(4);
  }
  footer {
    height: 15vh;
  }
  .barcelonabg {
    width: 100%;
  }
  .dublinbg {
    width: 100%;
  }
  .tokyobg {
    width: 100%;
  }
  .lisbonbg {
    width: 100%;
  }
}

@media (max-width: 800px) {
  h1 {
    font-size: 3rem;
  }
  h2 {
    font-size: 2.5rem;
  }
  header {
    padding: 1.5rem;
    height: 10vh;
  }
  header p {
    font-size: 1.5rem;
  }
  .animation {
    bottom: -120%;
  }
  .navbar a {
    font-size: 1.2rem;
    width: 15vw;
    height: 2vh;
  }
  .animation p {
    font-size: 0.5rem;
  }
  footer {
    height: 10vh;
  }
}
@media (max-width: 500px) {
  header {
    padding: 4vw;
    height: 10vh;
  }
  .navbar a {
    font-size: 1.2rem;
    margin-top: 1rem;
  }
  h2 {
    font-size: 2rem;
  }
  .cityrow {
    flex-direction: column;
    align-items: center;
  }
  .journalentry {
    width: 20vw;
    height: 20vw;
  }
  .animation {
    width: 20vw;
    height: 20vw;
    bottom: -150%;
  }
}

.arcdetriomf {
  background: url("../img/Barcelona-Arc-de-Triomf.jpg");
  background-size: cover;
}
.campnou {
  background: url("../img/Barcelona-Camp-Nou.jpg");
  background-size: cover;
}
.casabatllo {
  background: url("../img/Barcelona-Casa-Batllo.jpg");
  background-size: cover;
}
.chocolatemuseum {
  background: url("../img/Barcelona-Chocolate-museum.jpeg");
  background-size: cover;
}
.larambla {
  background: url("../img/Barcelona-La-Rambla.jpg");
  background-size: cover;
}
.parkguell {
  background: url("../img/Barcelona-Park-Guell.jpg");
  background-size: cover;
}
.picassomuseum {
  background: url("../img/Barcelona-Picasso-Museum.jpg");
  background-size: cover;
}
.sagradafamilia {
  background: url("../img/Barcelona-Sagrada-Familia.jpg");
  background-size: cover;
}
.barceloneta {
  background: url("../img/Barcelona-Barceloneta.jpg");
  background-size: cover;
}

.dublincastle {
  background: url("../img/Dublin Castle.jpg");
  background-size: cover;
}
.stpatrickscathedral {
  background: url("../img/DublinSt.Patricks Cathedral.jpeg");
  background-size: cover;
}
.guinnessstorehouse {
  background: url("../img/Dublin-Guinness Storehouse.jpg");
  background-size: cover;
}
.rocknroll {
  background: url("../img/Dublin-Irish Rock n Roll Museum.jpg");
  background-size: cover;
}
.howth {
  background: url("../img/Dublin-howth.jpeg");
  background-size: cover;
}
.jamesondistillery {
  background: url("../img/Dublin-Jameson Distillery.jpg");
  background-size: cover;
}
.silicondocks {
  background: url("../img/Dublin-Silicon Docks.jpg");
  background-size: cover;
}
.spire {
  background: url("../img/Dublin-Spire.jpg");
  background-size: cover;
}
.dublinnationalmuseum {
  background: url("../img/Dublin-National Museum.jpg");
  background-size: cover;
}
.ginzadistrict {
  background: url("../img/Tokyo-Ginza District.jpg");
  background-size: cover;
}
.kabukizatheatre {
  background: url("../img/Tokyo-Kabuki-za_Theatre.jpg");
  background-size: cover;
}
.meijishrine {
  background: url("../img/Tokyo-Meiji Shrine.jpeg");
  background-size: cover;
}
.miraikanmuseum {
  background: url("../img/Tokyo-Miraikan Museum.jpg");
  background-size: cover;
}
.nationalartcenter {
  background: url("../img/Tokyo-National Art Center.jpg");
  background-size: cover;
}
.sensojitemple {
  background: url("../img/Tokyo-sensoji-temple.jpg");
  background-size: cover;
}
.shibuya {
  background: url("../img/Tokyo-Shibuya.jpg");
  background-size: cover;
}
.skytree {
  background: url("../img/Tokyo-skytree.jpg");
  background-size: cover;
}
.uenopark {
  background: url("../img/tokyo-Ueno park.jpg");
  background-size: cover;
}

.aquaslibres {
  background: url("../img/Lisbon-Aquas Libres Aqueduct.jpg");
  background-size: cover;
}
.castelodesaojorge {
  background: url("../img/Lisbon-castelo-de-sao-jorge.jpg");
  background-size: cover;
}
.elevadordesantajusta {
  background: url("../img/Lisbon-Elevador de Santa Justa.jpg");
  background-size: cover;
}
.estreladebasilica {
  background: url("../img/Lisbon-Estrela da Basilica.jpg");
  background-size: cover;
}
.mosteirodosjeronimos {
  background: url("../img/Lisbon-mosteiro-dos-jeronimos.jpg");
  background-size: cover;
}
.nationalcoachmuseum {
  background: url("../img/Lisbon-National Coach Museum.JPG");
  background-size: cover;
}
.padraodosdescobrimentos {
  background: url("../img/Lisbon-padrao-dos-descobrimentos.jpeg");
  background-size: cover;
}
.sintra {
  background: url("../img/Lisbon-Sintra.jpg");
  background-size: cover;
}
.torrebelem {
  background: url("../img/Lisbon-torre-belem.jpg");
  background-size: cover;
}
